
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --pleft: 8.3%;
  --pright: 8%;
  --black: #000000;
  --grey-umber: #333333;
  --dim-gray: #666666;
  --silver: #CACACA;
  --signal-grey: #999999;
  --bright-ube: #D1A9F0;
  --bright-lavender: #C283F3;
  --amethyst: #9D5CD0;
  --royal-purple: #7943A4;
  --isabelline: #ECECEC;
  --white: #FFFFFF;
  --carnelian: #D11616;
  --gradient: rgba(0, 0, 0, 0.5);
  --gradient-purple: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

*,
*::before,
*::after {
  FONT-VARIANT: JIS78;
  box-sizing: inherit;
}

a,
ul,
li,
button,
input {
  display: block;
  margin: 0;
  padding: 0;
  border-color: transparent;
  list-style: none;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/*global*/


header,
footer,
main,
section,
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
}

.main {
  margin: 0;
  width: 100%;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
}

.tabs__preview-box {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.item-title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.item-title--js {
  color: var(--royal-purple);
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.slider-line {
  position: absolute;
  width: 11.79px;
  height: 1px;
  background-color: var(--black);
}

.line-left {
  top: 50%;
  left: 30%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line-right {
  top: 50%;
  right: 30%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--isabelline);
  cursor: pointer;
  z-index: 3000;
  transition: all 0.3s;
}

.slider-btn:focus-visible {
  outline: 2px solid var(--amethyst);
}

.slider-btn:hover {
  background-color: var(--bright-ube);
}

/*header*/

.header {
  margin: 0;
  padding: 0;
  z-index: 2000;
}

.burger {
  position: relative;
  display: none;
  margin: 0;
  min-width: 36px;
  height: 28px;
  background-color: transparent;
}

.burger__line {
  position: absolute;
  height: 3px;
  background-color: var(--white);
  transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.line-top {
  top: 0;
  left: 0;
  width: 36px;
  text-align: left;
}

.line-center {
  top: 50%;
  left: 0;
  width: 28.2px;
  text-align: left;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.line-bottom {
  bottom: 0;
  left: 0;
  width: 24px;
  text-align: left;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 149px;
  padding-left: var(--pleft);
  background-color: var(--black);
}

.nav {
  -ms-grid-row-align: center;
  align-self: center;
}

.header__container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  width: 78%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.nav__box {
  margin-right: 4px;
}

.nav__link {
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:focus-visible {
  background-color: var(--royal-purple);
  color: var(--isabelline);
}

.nav__link:hover {
  color: var(--bright-lavender);
  background-color: transparent;
}

.nav__link:active {
  color: var(--royal-purple);
  background-color: transparent;
}

.user {
  -ms-grid-row-align: center;
  align-self: center;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--white);
}

.user__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 29px;
  color: var(--isabelline);
  transition: all 0.3s ease-in-out;
}

.user:focus-visible .user__btn {
  outline: none;
  background-color: var(--royal-purple);
  color: var(--isabelline);
}

.user:focus-visible .user__btn path {
  outline: none;
  background-color: var(--royal-purple);
  fill: var(--isabelline);
}

.user:hover .user__btn {
  background-color: transparent;
  color: var(--bright-lavender);
}

.user:hover .user__btn path {
  background-color: transparent;
  fill: var(--bright-lavender);
}

.user:hover .user__btn .user__pct::before {
  opacity: 1;
  background-color: var(--bright-lavender);
}

.user:active .user__btn {
  background-color: transparent;
  color: var(--amethyst);
}

.user:active .user__btn path {
  background-color: transparent;
  fill: var(--amethyst);
}

.user:active .user__btn .user__pct::before {
  opacity: 1;
  background-color: var(--amethyst);
}

.user__pct-text {
  display: inline-block;
}

.user__pct {
  position: relative;
  display: inline-block;
  outline: none;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.user__pct::before {
  content: "";
  position: absolute;
  outline: none;
  top: 50%;
  right: 10px;
  width: 5px;
  height: 1.5px;
  background-color: var(--white);
  -webkit-transform: translateY(-50%) scaleX(2);
  transform: translateY(-50%) scaleX(2);
  opacity: 0;
  z-index: 2000;
  transition: all 0.3s;
}

/*hero*/

.hero__container {
  position: relative;
}

.hero__slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: auto;
}

.hero__container img {
  display: block;
  min-height: 698px;
  cursor: auto;
}

.hero__slide {
  width: 100%;
  max-height: 699px;
  cursor: default;
}

.header__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: var(--pleft);
  padding-right: var(--pright);
  background-color: var(--gradient);
  z-index: 3000;
}

.menu__link {
  position: relative;
  transition: all 0.3s;
}

.menu__link-item {
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.5px;
  color: var(--white);
  transition: all 0.3s;
}

.header__line {
  display: block;
  width: 7.5px;
  height: 1px;
  background-color: var(--white);
}

.menu__icon-left {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg);
}

.menu__icon-right {
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: rotate(-39deg);
  transform: rotate(-39deg);
}

.menu__link-item:focus-visible {
  outline: none;
  background-color: var(--amethyst);
  color: var(--white);
}

.menu__link-item:hover {
  color: var(--amethyst);
}

.menu__link-item:hover .header__line {
  background-color: var(--amethyst);
  color: var(--amethyst);
}

.menu__link-item:active {
  color: var(--royal-purple);
}

.menu__link-item--active {
  background-color: transparent;
  color: var(--royal-purple);
}

.menu__link-item:active .menu__icon-left {
  background-color: var(--royal-purple);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu__icon-left--active {
  background-color: var(--royal-purple);
  color: var(--royal-purple);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu__link-item:active .menu__icon-right {
  background-color: var(--royal-purple);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__icon-right--active {
  background-color: var(--royal-purple);
  color: var(--royal-purple);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__icon {
  position: relative;
  display: flex;
  width: 20px;
  justify-content: center;

}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

.menu__nav {
  width: 64.7%;
}

.menu__item {
  position: absolute;
  display: flex;
  top: 47px;
  left: 0;
  flex-direction: column;
  padding: 40px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  background-color: var(--gradient);
  transition: all 0.3s ease-in-out;
}

.simplebar-scrollbar::before {
  background-color: var(--white);
}

.simplebar-track.simplebar-vertical {
  top: 35px;
  bottom: 40px;
  margin-right: 19px;
  width: 2px;
  background-color: #000000;
}

.simplebar-track.simplebar-horizontal {
  display: none;
}

.simplebar-scrollbar {
  background-color: var(--white);
  overflow: visible;
}



.menu__item-style {
  padding-top: 9px;
  padding-left: 12px;
  padding-bottom: 14px;
  outline: none;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
}

.menu__item-style:not(:last-child) {
  margin-bottom: 20px;
}

.menu__item-style:focus-visible {
  outline: 2px solid var(--amethyst);
}

.menu__item-style:hover {
  outline: 2px solid var(--amethyst);
}

.tintoretto {
  background-image: url("../img/Tintoretto.png");
}

.tintoretto:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Tintoretto.png");
}

.friedrich {
  background-image: url("../img/Friedrich.png");
}

.friedrich:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Friedrich.png");
}

.leonardo {
  background-image: url("../img/Leonardo.png");
}

.leonardo:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Leonardo.png");
}

.verrocchio {
  background-image: url("../img/Verrocchio.png");
}

.verrocchio:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Verrocchio.png");
}

.monet {
  background-image: url("../img/Monet.png");
}

.monet:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Monet.png");
}

.sisley {
  background-image: url("../img/Sisley.png");
}

.sisley:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Sisley.png");
}

.manet {
  background-image: url("../img/Manet.png");
}

.manet:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Manet.png");
}

.renoir {
  background-image: url("../img/Renoir.png");
}

.renoir:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Renoir.png");
}

.gofh {
  background-image: url("../img/Gogh.png");
}

.gofh:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Gogh.png");
}

.cezanne {
  background-image: url("../img/Cezanne.png");
}

.cezanne:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Cezanne.png");
}

.gauguin {
  background-image: url("../img/Gauguin.png");
}

.gauguin:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Gauguin.png");
}

.seurat {
  background-image: url("../img/Seurat.png");
}

.seurat:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Seurat.png");
}

.kandinsky {
  background-image: url("../img/Kandinsky.png");
}

.kandinsky:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Kandinsky.png");
}

.marinetti {
  background-image: url("../img/Marinetti.png");
}

.marinetti:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Marinetti.png");
}

.malevich {
  background-image: url("../img/Malevich.png");
}

.malevich:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Malevich.png");
}

.picasso {
  background-image: url("../img/Picasso.png");
}

.picasso:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Picasso.png");
}

.carra {
  background-image: url("../img/Carra.png");
}

.carra:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Carra.png");
}

.pratella {
  background-image: url("../img/Pratella.png");
}

.pratella:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Pratella.png");
}

.severini {
  background-image: url("../img/Severini.png");
}

.severini:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Severini.png");
}

.balla {
  background-image: url("../img/Balla.png");
}

.balla:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Balla.png");
}

.hero__box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  padding-left: var(--pleft);
  padding-bottom: 6.5%;
  width: 38%;
  z-index: 2000;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 97px;
  color: var(--white);
}

.hero__text {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: var(--white);
}

.hero__btn {
  margin-right: auto;
  margin-top: auto;
  padding: 22px 36px 22px 35px;
  border-radius: 35px;
  background-color: var(--amethyst);
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--white);
}

.hero__btn:focus-visible {
  outline: 2px solid var(--bright-lavender);
  outline-offset: 2px;
}

.hero__btn:hover {
  outline: 2px solid var(--bright-ube);
  outline-offset: 0;
}

.hero__btn:active {
  outline: 2px solid var(--bright-ube);
  background: var(--royal-purple);
}

.hero-search {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto;
}

.search-svg {
  margin-right: 5px;
}

.search-input {
  outline: none;
  padding-bottom: 6px;
  width: 228px;
  min-height: 26px;
  border-bottom: 1.5px solid var(--white);
  color: var(--isabelline);
  transition: border-color 0.3s ease-in-out;
}

.search-input:hover {
  border-bottom: 1.5px solid var(--bright-lavender);
}

.search-input:active {
  border-bottom: 1.5px solid var(--amethyst);
}

.search-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: rgba(255, 255, 255, 0.85);
}

.search-input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: rgba(255, 255, 255, 0.85);
}

.search-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: rgba(255, 255, 255, 0.85);
}

.search-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: rgba(255, 255, 255, 0.85);
}

.search-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: rgba(255, 255, 255, 0.85);
}

.search {
  display: none;
}

.search__close {
  display: none;
}

/*preview*/

.preview {
  padding: 80px 0 70px 0;
}

.preview__box {
  margin: 0 auto;
  padding-left: var(--pleft);
  padding-right: var(--pright);
}

.preview-title {
  margin-bottom: 25px;
}

.preview-text {
  width: 67%;
  line-height: 32px;
}

.preview-br {
  display: none;
}

/*gallery*/

.gallery {
  padding-top: 80px;
  padding-bottom: 76px;
  background-image: url("../img/galery-bacground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  display: flex;
  padding-left: var(--pleft);
  padding-right: var(--pright);
}

.gallery__preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 50px;
  padding-bottom: 10px;
}

.gallery__title {
  margin-bottom: 15px;
  line-height: 65.37px;
  color: var(--white);
}

.gallery__span {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.select__wrapper-js {
  position: relative;
}

.select__wrapper-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 6px;
  width: 400px;
  height: 40px;
  transition: all 0.3s;
}

.select__top {
  text-align: left;
  outline: none;
  padding-left: 13px;
  padding-right: 2rem;
  width: 100%;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.select__top:focus-visible {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.select__top:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.select__icon {
  position: absolute;
  top: 45%;
  right: 15px;
  width: 7px;
  height: 7px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.select__icon--js--off {
  border-top: 2px solid transparent;
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  border-left: 2px solid transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select__icon--js--active {
  border-top: 2px solid var(--white);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid var(--white);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select__list {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  top: 40px;
  left: 0;
  text-align: left;
  border-right: 1px solid var(--signal-grey);
  border-left: 1px solid var(--signal-grey);
  border-bottom: 1px solid var(--signal-grey);
  border-radius: 6px;
  width: 400px;
  background-color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--signal-grey);
  transition: all 0.3s;
}


.select__list-item {
  outline: none;
  padding: 0 0 0 15px;
  border: 1px solid transparent;
  width: 100%;
  height: 40px;
  text-align: left;
  z-index: 1000;
}

.select__list-item:not(:last-child):not(:first-child):focus-visible {
  border-bottom: 1px solid var(--signal-grey);
  border-top: 1px solid var(--signal-grey);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.select__list-item:first-child:focus-visible {
  border-bottom: 1px solid var(--signal-grey);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.select__list-item:last-child:focus-visible {
  border-top: 1px solid var(--signal-grey);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.select__list-item:not(:last-child):not(:first-child):hover {
  border-top: 1px solid var(--signal-grey);
  border-bottom: 1px solid var(--signal-grey);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.select__list-item:first-child:hover {
  border-bottom: 1px solid var(--signal-grey);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.select__list-item:last-child:hover {
  border-top: 1px solid var(--signal-grey);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.select-input {
  display: none;
}

.checkbox {
  margin-top: auto;
}

.checkbox__elem {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  color: var(--white);
}

.checkbox__elem:not(:last-child) {
  margin-bottom: 12px;
}

.checkbox__elem-check {
  position: relative;
  margin-right: 12px;
  border: 1px solid var(--white);
  outline: none;
  width: 12px;
  height: 12px;
  transition: all 0.3s;
}

.checkbox__elem-check::before {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: var(--amethyst);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.checkbox__elem .input-checkbox:checked~.checkbox__elem-check::before {
  display: block;
}

.checkbox__elem .input-checkbox:checked~.checkbox__elem-check {
  border: 1px solid var(--amethyst);
}


.input-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.gallery__slider {
  padding-top: 25px;
  width: 71%;
  height: 100%;
  overflow: hidden;
}

.gallery__slider-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  transition: all 2s;
}

.gallery__slider-btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.gallery__btn {
  box-sizing: content-box;
  display: block;
  outline: none;
  color: transparent;
  font-size: 0;
  cursor: pointer;
}

.btn-left {
  margin-right: 66px;
}

.btn-left:focus-visible {
  border: 2px solid var(--black);
  border-radius: 100%;
}

.btn-left:hover svg {
  fill: var(--amethyst);
}

.btn-left:active svg {
  fill: var(--royal-purple);
}

.btn-right:focus-visible {
  border: 2px solid var(--black);
  border-radius: 100%;
}

.btn-right:hover svg {
  fill: var(--amethyst);
}

.btn-right:active svg {
  fill: var(--royal-purple);
}

.swiper__namber {
  margin-right: 18px;
  color: var(--white);
}

.swiper-pagination {
  top: 6px;
  left: 44px;
  margin: 0;
  width: 34px;
  text-align: left;
  pointer-events: none;
}

.swiper__track {
  display: flex;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.swiper__box-item {
  position: relative;
}

.swiper__box-item img {
  display: block;
  min-width: 100%;
  height: 350px;
}


.swiper__box-item::after {
  content: "";
  position: absolute;
  top: 48%;
  right: 0;
  bottom: 0;
  left: 49%;
  width: 87%;
  height: 85%;
  background-image: url("../img/hover.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2000;
  visibility: hidden;
}

.swiper__box-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  z-index: 2000;
  visibility: hidden;
}

.swiper__box-item:hover::after {
  visibility: visible;
}

.swiper__box-item:active::before:not(:hover) {
  visibility: visible;
}

.swiper-pagination-lock {
  display: block;
}

.popup {
  position: fixed;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gradient);
  opacity: 0;
  z-index: -1;
}

.popup--js {
  display: flex;
  opacity: 1;
  z-index: 10000;
}

.popup__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 47%;
  vertical-align: middle;
}

.popup__img {
  width: 45%;
  height: 500px;
}

.popup__img img {
  display: block;
  height: 100%;
}

.popup__item {
  padding: 8% 5%;
  width: 50%;
  min-height: 500px;
  background-color: var(--white);
}

.popup__title {
  margin-bottom: 5px;
  line-height: 32.68px;
  color: var(--grey-umber);
}

.popup__sub {
  display: block;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: var(--grey-umber);
}

.popup__span {
  display: block;
  margin: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--signal-grey);
}

.popup__text {
  line-height: 21.79px;
  color: var(--grey-umber);
}

.popup__close {
  position: absolute;
  top: 4%;
  right: 5%;
  font-size: 20px;
  color: var(--black);
  cursor: pointer;
}


/*catalog*/
.catalog {
  padding-top: 80px;
}

.catalog__container {
  padding-left: var(--pleft);
  padding-right: var(--pright);
}

.catalog__preview {
  width: 69%;
}

.catalog-item {
  margin-bottom: 15px;
  line-height: 65.37px;
}



.block-fon {
  outline: 2px solid var(--signal-grey);
  outline-offset: 10px;
  width: 275px;
  height: 189px;
  background-color: var(--signal-grey);
}

.tabs-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 16px;
  color: var(--amethyst);
}

.tabs-link:focus-visible {
  outline: none;
  background-color: var(--amethyst);
  color: var(--white);
}

.tabs-link:hover {
  background-color: transparent;
  color: var(--amethyst);
  border-bottom: 1px solid var(--amethyst);
}

.tabs-link:active {
  background-color: transparent;
  color: var(--royal-purple);
  border-bottom: 1px solid var(--royal-purple);
}

.tabs__title {
  margin-bottom: 13px;
}

.item__decr {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  color: var(--signal-grey);
}

.item {
  display: flex;
}

.catalog-text {
  line-height: 32px;
  margin-bottom: 40px;
  color: var(--grey-umber);
}

.catalog__item-box {
  margin-right: 45px;
  width: 46.9%;
}

.tabs {
  display: none;
  width: 99%;
}

.tabs-0 {
  display: block;
}

.accordion {
  width: 50%;
}

.tabs__pct {
  margin-bottom: 33px;
  background-color: var(--grey-umber);
}

.tabs__pct img {
  display: block;
  max-height: 466px;
  -o-object-fit: contain;
  object-fit: contain;
}

.accordion__item-btn {
  margin-bottom: 13px;
  border-bottom: 1px solid transparent;
  width: 30%;
  transition: background-color 0.3s ease-in-out;
}

.accordion__item-btn:focus-visible {
  outline: none;
  background-color: var(--amethyst);
}

.accordion__item-btn:hover {
  border-bottom: 1px solid var(--amethyst);
}

.accordion__item {
  border-top: 1px solid transparent;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.accordion__item-js {
  border-top: 1px solid var(--silver);
  height: 338px;
  transition: all 0.3s ease-out;
}

.tabs:target {
  display: block;
}

.tabs:target~.tabs-0 {
  display: none;
}

.accordion__item__box {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  padding: 30px 0 14px 0;
  width: 100%;
  min-height: 338px;
  font-weight: 400;
  font-size: 16px;
  z-index: 1000;
}

.accordion__item__box:not(:last-child) {
  margin-right: 58px;
}

.accordion__container {
  margin: 0;
  border-top: 1px solid var(--silver);
  border-bottom: 1px solid transparent;
}

.accordion__container:last-child {
  border-bottom: 1px solid var(--silver);
}

.accordion__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 29px 3px 30px 3px;
  width: 100%;
  max-height: 115px;
  background-color: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-out;
  z-index: 2000;
}

.gag__box {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 25px;
}

.gag__img {
  box-sizing: content-box;
  position: relative;
  border: 2px solid var(--signal-grey);
  outline-offset: 10px;
  width: 275px;
  height: 189px;
  background-color: var(--white);
  z-index: 2000;
}

.gag__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 87%;
  background-color: var(--signal-grey);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gag__title {
  margin-bottom: 5px;
  color: var(--grey-umber);
}

.gag__text {
  margin-bottom: 5px;
  width: 54%;
  line-height: 21.79px;
  color: var(--grey-umber);
}

.accordion__container:hover {
  border-top: 1px solid var(--amethyst);
}

.accordion__container:last-child:hover {
  border-bottom: 1px solid var(--amethyst);
}

.accordion__container:hover+.accordion__container {
  border-top: 1px solid var(--amethyst);
}

.accordion__container:hover .accordion__panel {
  color: var(--amethyst);
}

.accordion__container:hover .slider-btn {
  background-color: var(--bright-ube);
  outline: none;
}

.accordion__container:active {
  border-top: 1px solid var(--royal-purple);
}

.accordion__container-js,
.accordion__container-js .accordion__item,
.accordion__container:active+.accordion__container {
  border-top: 1px solid var(--royal-purple);
  transition: border-top 0.3s, height 0.5s ease-out;
}

.accordion__container:last-child:active {
  border-bottom: 1px solid var(--royal-purple);
  transition: border-top 0.3s;
}

.accordion__container:active .accordion__panel {
  color: var(--royal-purple);
}

.accordion__container:active .slider-btn {
  box-sizing: border-box;
  outline: 2px solid var(--amethyst);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gag .accordion__item-js {
  padding-top: 25px;
  height: 239px;
}

.gag__box-text {
  margin-left: 25px;
  width: 60%;
}


/*news*/

.news {
  padding-top: 74px;
  padding-left: 160px;
  padding-right: 159px;
}

.slider__box {
  position: relative;
  margin: 0;
  padding: 0;
}

.news__slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.news__container {
  display: flex;
}

.news__btn-right {
  position: absolute;
  top: 46%;
  right: -25px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.news__btn-left {
  position: absolute;
  top: 46%;
  left: -25px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.slider__box .swiper-button-disabled,
.slider__box .swiper-button-disabled {
  opacity: 0;
}

.pagination {
  display: none;
}

.news__title {
  margin-bottom: 16px;
  line-height: 65.37px;
}

.news__box {
  transition: all 2s;
}

.news__box-img {
  margin: 0;
  padding: 0;
  min-height: 300px;
}

.news__box-img img {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 300px;
}

.news__box-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 9px 44px 40px 45px;
  border-right: 1px solid var(--signal-grey);
  border-bottom: 1px solid var(--signal-grey);
  border-left: 1px solid var(--signal-grey);
  height: 400px;
}

.news__box-decr {
  margin-bottom: 15px;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--signal-grey);
}

.news__item-title {
  margin-bottom: 11px;
  width: 100%;
  line-height: 32.68px;
  color: var(--grey-umber);
}

.news__box-text {
  line-height: 32px;
  color: var(--grey-umber);
}

.news__box-text-br {
  display: none;
}

.news__btn {
  align-self: flex-start;
  outline: none;
  margin-right: auto;
  border-bottom: 1px solid var(--amethyst);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 22px;
  color: var(--amethyst);
}

.news__box-btn {
  outline: none;
  margin-top: auto;
  padding: 6px 8px 0px 4px;
  width: 104px;
  height: 35px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.news__box-btn:focus-visible {
  outline: none;
  background-color: var(--amethyst);
}

.news__box-btn:hover {
  background-color: transparent;
  color: var(--royal-purple);
}

.news__box-btn:active {
  background-color: transparent;
  color: var(--grey-umber);
}

.news__box-btn:focus-visible .news__btn {
  border-bottom: 1px solid var(--isabelline);
  background-color: transparent;
  color: var(--isabelline);

}

.news__box-btn:hover .news__btn {
  border-bottom: 1px solid var(--royal-purple);
  background-color: transparent;
  color: var(--royal-purple);
}

.news__box-btn:active .news__btn {
  border-bottom: 1px solid var(--grey-umber);
  background-color: transparent;
  color: var(--grey-umber);
}

.news__btn:active {
  border-bottom: 1px solid var(--grey-umber);
  background-color: transparent;
  color: var(--grey-umber);
}

/*partners*/

.partners {
  padding-top: 77px;
  padding-bottom: 61px;
  padding-left: var(--pleft);
  padding-right: var(--pright);
}

.partners__preview {
  margin-bottom: 18px;
}

.partners-title {
  line-height: 65.37px;
  margin-bottom: 15px;
}

.partners-text {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  width: 66%;
  line-height: 32px;
}

.partners__link {
  display: inline-block;
  padding: 2px 5px 2px 0;
  border-bottom: 1px solid transparent;
  color: var(--amethyst);
}

.partners__link-desc {
  display: none;
}

.partners__link-768 {
  display: inline-block;
}

.partners__link-mobail {
  display: none;
}

.partners-br {
  display: none;
}

.partners-br-mobail {
  display: none;
}

.partners__link:focus-visible {
  outline: none;
  padding: 2px 5px 2px 0;
  background-color: var(--amethyst);
  color: var(--white);
}

.partners__link:hover {
  border-bottom: 1px solid var(--amethyst);
  background-color: transparent;
  color: var(--amethyst);
}

.partners__link:active {
  border-bottom: 1px solid var(--royal-purple);
  background-color: transparent;
  color: var(--royal-purple);
}

.partners__preview-title {
  margin-bottom: 23px;
  line-height: 32px;
}

.slider-track {
  position: relative;
  overflow: hidden;
  width: 90%;
  cursor: pointer;
  transition: all 2s;
}

.partners__slider {
  display: flex;
  transition: all 2s;
}

.slider__btn-left {
  margin-right: 43px;
  display: flex;
}

.slider__btn-right {
  margin-left: 50px;
  display: flex;
}

.partners__btn {
  -ms-grid-row-align: center;
  align-self: center;
  width: 30px;
  height: 30px;
}

.rotat-left {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.rotat-right {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.partners__btn-line {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  width: 7.07px;
  height: 7.07px;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.swiper-slider {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid var(--silver);
}

.swiper-slider img {
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

.swiper-slider:focus-visible:not(:hover):not(:active) {
  outline: none;
  border: 1px solid var(--amethyst);
}

.swiper-slider:hover img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.swiper-slider:active {
  outline: none;
  border: 1px solid var(--amethyst);
}

.tooltip {
  position: relative;
  display: inline-block;
  outline: none;
  margin: 0;
  padding: 0;
  width: 19px;
  height: 19px;
  text-align: left;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

.tippy-box {
  padding: 8px 11px;
  width: 264px;
  background-color: var(--amethyst);
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  text-align: center;
  color: var(--white);
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--amethyst);
}

.tippy-box[data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: transparent;
}

.tippy-box[data-placement^='left']>.tippy-arrow::before {
  border-bottom-color: transparent;
}

.tippy-box[data-placement^='right']>.tippy-arrow::before {
  border-bottom-color: transparent;
}

.icon {
  position: relative;
  display: inline-block;
  outline: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon-i {
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 48%;
  height: 14px;
  font-size: 14px;
  line-height: 19px;
  -webkit-transform: translate(-52%, -57%);
  transform: translate(-52%, -57%);
  color: var(--black);
  opacity: 1;
}

.icon__hover {
  position: absolute;
  width: 9.54px;
  height: 1.48px;
  background-color: var(--white);
  opacity: 0;
}

.icon__hover-left {
  top: 40%;
  left: 23%;
  -webkit-transform: rotate(-45deg) translateY(-57%);
  transform: rotate(-45deg) translateY(-57%);
}

.icon__hover-right {
  top: 40%;
  right: 23%;
  -webkit-transform: rotate(45deg) translateY(-57%);
  transform: rotate(45deg) translateY(-57%);
}

.icon:hover svg path {
  fill: var(--amethyst);
}

.icon:hover .icon-i {
  opacity: 0;
}

.icon:hover .icon__hover {
  opacity: 1;
}

.icon:hover+.tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip:focus-visible svg path {
  outline: none;
  fill: var(--amethyst);
}

.tooltip:focus-visible .icon-i {
  outline: none;
  opacity: 0;
}

.tooltip:focus-visible .icon__hover {
  outline: none;
  opacity: 1;
}

.tooltip:focus-visible .tooltip-text {
  outline: none;
  opacity: 1;
  visibility: visible;
}



/*form*/

.title-hidden {
  margin: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-left: var(--pleft);
  padding-right: var(--pright);
  padding-top: 41px;
  padding-bottom: 36px;
  border-top: 1px solid var(--silver);
}

.form__adress {
  margin-right: 77px;
}

.form__adress-title {
  margin-bottom: 2px;
}

.form__desc {
  line-height: 32px;
  font-style: normal;
  color: var(--grey-umber);
}

.form__input {
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.just-validate-error-label {
  position: absolute;
  top: -20px;
  left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.form__box {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 22px;
  margin-bottom: 5px;
  padding: 13px 43px 9px 22px;
  border-radius: 100px;
  border: 1px solid var(--grey-umber);
  min-width: 270px;
  max-height: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form__box:focus-visible {
  outline: none;
  background-color: var(--isabelline);
}

.form__box:hover {
  background-color: var(--isabelline);
}

.form__box:active {
  background-color: transparent;
}

.form__box input {
  outline: none;
}

.form__btn-mobail {
  display: none;
}

.form__btn {
  padding: 12.5px 36px 12.5px 35px;
  border-radius: 100px;
  border: 2px solid var(--amethyst);
  max-height: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--amethyst);
  transition: outline-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form__btn:focus-visible {
  outline: 2px solid var(--bright-lavender);
  outline-offset: 3px;
}

.form__btn:hover {
  outline: none;
  background-color: var(--amethyst);
  color: var(--white);
}

.form__btn:active {
  border: 2px solid var(--bright-lavender);
  outline: 3px solid var(--bright-lavender);
  background-color: var(--amethyst);
  color: var(--white);
}

.form__social__link {
  display: flex;
}

.whatsapp {
  box-sizing: content-box;
  margin-right: 20px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

.whatsapp:focus-visible {
  outline: none;
  border: 2px solid var(--amethyst);
}

.whatsapp:focus-visible .whatsapp-path {
  fill: rgba(48, 191, 57, 0.6);
}

.whatsapp:hover .whatsapp-path {
  fill: rgba(48, 191, 57, 0.6);
}

.whatsapp:active {
  border: 2px solid var(--amethyst);
}

.telegram {
  box-sizing: content-box;
  outline: none;
  border: 2px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: outline 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.telegram:focus-visible {
  outline: none;
  border: 2px solid var(--amethyst);
}

.telegram:focus-visible .telegram-path {
  fill: rgba(38, 165, 228, 0.6);
}

.telegram:hover .telegram-path {
  fill: rgba(38, 165, 228, 0.6);
}

.telegram:active {
  border: 2px solid var(--amethyst);
}

.telegram:active .telegram-path {
  fill: rgba(38, 165, 228, 0.6);
}

.map {
  width: 100%;
  height: 700px;
}

.ymaps-2-1-79-map .ymaps {
  display: none;
}



[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/*footer*/

.footer {
  background: var(--black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 225px 50px 160px;
}

.footer__container-box {
  display: block;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45px;
  height: 45px;
}

.footer__link {
  width: 45px;
  height: 45px;
}

.footer__link:focus-visible {
  outline: none;
}

.footer__link:focus-visible path {
  fill: var(--white);
}

.footer__link:hover path {
  fill: var(--white);
}

.footer__link:active path {
  fill: var(--amethyst);
}

.footer__link:not(:last-child) {
  margin-right: 20px;
}

.slider-btn:active {
  outline: 2px solid var(--amethyst);
  background-color: var(--bright-ube);
}

.slider-btn--js {
  outline: 2px solid var(--amethyst);
  background-color: var(--bright-ube);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.js--off {
  display: none;
  opacity: 0;
  z-index: -1;
}

.js--active {
  display: block;
  opacity: 1;
  z-index: 5000;
}

.js--active--flex {
  display: flex;
  opacity: 1;
  min-width: 280px;
  max-height: 300px;
  z-index: 3000;
}
